<div *ngIf=display>

  <!-- -->
  <div class="row mt-4">

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Estudantes</h3>
          </div>
          <div class="card-body">
            <h2>0</h2>
          </div>
        </div>
      </div>
    
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Disciplinas</h3>
          </div>
          <div class="card-body">
            <h2>12</h2>
          </div>
        </div>
      </div>
    
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Professores</h3>
          </div>
          <div class="card-body">
            <h2>11</h2>
          </div>
        </div>
      </div>
    
    </div>
    
    <!-- -->
    <div class="row mt-4">
    
      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="estudantes">Estudantes</button>
      </div>
    
      <div class="col-lg-3">
          <button class="btn btn-primary" (click)="deleteParentView()" routerLink="professores">Professores</button>
      </div>
    
      <div class="col-lg-3">
          <button class="btn btn-primary">Livro de Ponto</button>
      </div>
    
      <div class="col-lg-3">
          <button class="btn btn-primary">Pautas</button>
      </div>
    
    </div>
    
    <!-- -->
    <div class="row mt-4">
    
      <div class="col-lg-12">
    
        <div class="card">
    
          <div class="card-header">
            <h1>Estatísticas gerais da Turma</h1>
          </div>
    
          <div class="card-body">
            
            <!-- graph -->
            <div>
                <div style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                  </canvas>
                </div>
            </div>
          
          </div>
    
        </div>
    
      </div>
    
    </div>


</div>

<div>
  <router-outlet></router-outlet>
</div>

  
