<div *ngIf=display>

  <!-- -->
  <div class="row mt-4">

      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3>Estudantes</h3>
          </div>
          <div class="card-body">
            <h2>{{_studentData.length}}</h2>
          </div>
        </div>
      </div>
    
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3>Disciplinas</h3>
          </div>
          <div class="card-body">
            <h2>{{_thisClassSubjects.length}}</h2>
          </div>
        </div>
      </div>
    
    </div>
    
    <!-- -->
    <div class="row mt-4">
    
      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="estudantes">Estudantes</button>
      </div>
    
      <div class="col-lg-3">
          <button class="btn btn-primary" (click)="deleteParentView()" routerLink="professores">Professores</button>
      </div>
    
      <div class="col-lg-3">
          <button class="btn btn-primary" (click)="deleteParentView()" routerLink="faltas" >Livro de Ponto</button>
      </div>
    
      <div class="col-lg-3">
          <button class="btn btn-primary" (click)="deleteParentView()" routerLink="pautas">Pautas</button>
      </div>
    
    </div>
    
</div>

<div>
  <router-outlet></router-outlet>
</div>

  
