<!--
  Para efeitos de simplicidade, decidi colocar aqui os dois modals
 -->
<div *ngIf="shouldDisplayModal" class="container-contact100">
    <div class="wrap-contact100 row">
        <div class="contact100-form-title" style="background-image: url(public/img/1.GIF);">
            <span>Relatório académico</span>
        </div>
        <div class="swiper-container testimonial-slider">
            <h1>{{studentDisplayed.nome}}</h1>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <button (click)="previousModal(studentDisplayed)">Anterior</button>
            <button (click)="nextModal(studentDisplayed)">Próximo</button>
            <button (click)="closeModal()">Feixar</button>
        </div>
    </div>
</div>


<div class="row mt-4">

  <div class="col-lg-12">

    <div class="table-responsive">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" >Foto</th>
              <th scope="col">Nome</th>
              <th scope="col">Nº</th>
              <th scope="col">Desempenho de Notas</th>
              <th scope="col" class="text-center">Faltas</th>
              <th scope="col" class="text-center">Ver Relatório</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentData; let i = index">
              <th scope="row">
                <img src="https://a.wattpad.com/cover/21934685-352-k598202.jpg" class="img-student">
              </th>
              <td class="pt-4">
                <span>{{student.nome}}</span>
              </td>
              <td class="pt-4">
               <span>{{i+1}}</span> 
              </td>
              <td class="pt-3">
                  <div class="progress-group">
                      <div class="progress-group-header">
                        <div class="ml-auto font-weight-bold">75%</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
              </td>
              <td class="text-center pt-4">
               <span>10</span> 
              </td>
              <td class="text-center pt-3">
                  <button (click)="openModal(i)" class="btn"><i class="fa fa-eye"></i> Relatório</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


  </div>

</div>
