<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>DashBoard de Professor</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Serviços</p>
          <li routerLinkActive="active">
             <a class="nav-link" routerLink="/homeprof/inicio"><span class="fa fa-home"></span>  Início</a>
          </li>

          <li>
              <a class="nav-link" routerLink="/homeprof/turmas"><span class="fa fa-th-large"></span> Turmas</a>
          </li>

          <li>
              <a class="nav-link" (clicl)="logout()"><span class="fa fa-sign-out"></span>  Sair da conta</a>
          </li>
         
      </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  
</div>       
