<div class="row mt-4">

  <div class="col-lg-12">

    <!-- campo que seleciona a disciplina a marcar  -->
    <div class="input-group mb-4">
      <select class="form-control" data-index="0" (input)="alertWhenChangedDisciplina($event.target)" #disciplinaNome>  
        <option *ngFor="let disc of theRealSubjectsToShow">
           {{disc["disciplina_nome"]}}
        </option>
      </select>
    </div>

    <div class="table-responsive">
      <table class="table table-striped" [ngSwitch]="tipoDePauta == 'primario'">
          <thead [ngSwitch]="tipoDePauta == 'primario'">

            <!-- 5ª,6ª,...12ª -->
            <tr *ngSwitchCase="false">
              <th scope="col" >Foto</th>
              <th scope="col">Nome</th>
              <th scope="col">Nº</th>
              <th scope="col" class="text-center">A.Disciplinar</th>
              <th scope="col" class="text-center">P. nas Aulas</th>
              <th scope="col" class="text-center">CPP</th>
              <th scope="col" class="text-center">A.Recuperacao</th>
              <!-- to eliminate soon -->
              <th scope="col" class="text-center">%global</th>
            </tr>

            <!-- Iniciação,... 4ª -->
            <tr *ngSwitchCase="true">
              <th scope="col" >Foto</th>
              <th scope="col">Nome</th>
              <th scope="col">Nº</th>
              <th scope="col" class="text-center">R.Tarefas</th>
              <th scope="col" class="text-center">S.Notas</th>
              <th scope="col" class="text-center">Outras</th>
              <th scope="col" class="text-center">Evolução</th>
              <th scope="col" class="text-center">A.Recuperacao</th>
            </tr>

          </thead>

          <!-- Iniciação,... 4ª -->
          <tbody *ngSwitchCase="true">

              <tr *ngFor="let student of _studentData; let i = index">
  
                  <th scope="row">
                    <img [src]="'assets/img/'+student.foto" class="img-student">
                  </th>
                  <td class="pt-4">
                    <span>{{student.nome}}</span>
                  </td>
                  <td class="pt-4">
                    <span>{{i+1}}</span> 
                  </td>
                  <td class="text-center pt-4">
                    <select [disabled]="flagToDisableSelect" class="form-control" data-index="0" (input)="resolucaoTarefas($event.target, student)">  
                      <option disabled>Marque uma opção</option>
                      <option>Nunca Resolve</option>
                      <option>Resolve Raras vezes</option>
                      <option>Resolve Mal</option>
                      <option>Resolve Razoavelmente</option>
                      <option>Resolve Bem</option>
                      <option>Resolve Muito Bem</option>
                    </select>
                  </td>
                  <td class="text-center pt-4">
                      <select [disabled]="!flagToDisableSelect" class="form-control" data-index="0" (input)="mediaDeNotas($event.target, student)">  
                        <option disabled>Marque uma opção</option>
                        <option>Em Alta</option>
                        <option>Nível Intermédio</option>
                        <option>Em Baixa</option>
                      </select>
                  </td>
                  <td class="text-center pt-4">
                    <select [disabled]="flagToDisableSelect" class="form-control" data-index="0" (input)="avaliacaoDisciplinar($event.target, student)">  
                      <option disabled>Marque uma opção</option>
                      <option>Positiva</option>
                      <option>Negativa</option>
                      <option>Regular</option>
                    </select>
                  </td>
                  <td class="text-center pt-4">
                    <select [disabled]="flagToDisableSelect" class="form-control" data-index="0" (input)="evolucaoDados($event.target, student)">  
                      <option disabled>Marque uma opção</option>
                      <option>Evoluiu</option>
                      <option>Decresceu</option>
                      <option>Manteve</option>
                    </select>
                  </td>
                  <td class="text-center pt-4">
                    <input [disabled]="!flagToDisableSelect"  type="checkbox" (input)="aulasDeRecuperacao($event.target, student)">  
                  </td>
              </tr>
  
          </tbody>

          <!-- 5ª,6ª,...12ª -->
          <tbody *ngSwitchCase="false">

            <tr *ngFor="let student of _studentData; let i = index">

                <th scope="row">
                  <img [src]="'assets/img/'+student.foto" class="img-student">
                </th>
                
                <td class="pt-4">
                  <span>{{student.nome}}</span>
                </td>
                
                <td class="pt-4">
                  <span>{{i+1}}</span> 
                </td>
                
                <td class="text-center pt-4">
                  <select [disabled]="flagToDisableSelect" class="form-control" data-index="0" (input)="avaliacaoDisciplinar($event.target, student)">  
                    <option disabled>Marque uma opção</option>
                    <option>Positiva</option>
                    <option>Negativa</option>
                    <option>Regular</option>
                  </select>
                </td>
                
                <td class="text-center pt-4">
                  <select [disabled]="flagToDisableSelect" class="form-control" data-index="0" (input)="participacaoAulas($event.target, student)">  
                    <option disabled>Marque uma opção</option>  
                    <option>Satistatório</option>
                    <option>Regular</option>
                    <option>Insatisfatório</option>
                  </select>
                </td>

                <td class="text-center pt-4">
                  <input [disabled]="!flagToDisableSelect" type="input" class="faltasInput" (input)="mediaDeNotas($event.target, student)">
                </td>

                <td class="text-center pt-4">
                  <input [disabled]="!flagToDisableSelect" type="checkbox" (input)="aulasDeRecuperacao($event.target, student)">  
                </td>

                <!-- it will be removed ASAP -->
                <td class="text-center pt-4">
                  <input [disabled]="flagToDisableSelect" type="input" class="faltasInput" (input)="mediaGlobalAnterior($event.target, student)">
                </td>
  
            </tr>

          </tbody>

        </table>
      </div>

      <!-- botão de marcação de faltas -->
      <div class="input-group mb-4">
        <button (click)="salvarNotas(disciplinaNome.value)" class="btn p-2">SALVAR NOTAS</button>
      </div>


  </div>

</div>
