<div class="container">

  <!-- numero de turmas mostradas -->

  <!-- estatística das turmas -->
  <div *ngIf=display class="row">

      <div class="card mt-2 col-lg-4" *ngFor="let turma of turmas">

          <!-- card header -->
          <div class="card-header">
            <h3>{{turma["nome_class"]}}</h3>
          </div>
      
          <!-- card body -->
          <div class="card-body">
            <h5>{{turma["curso_nome"]}}</h5>
          </div>

          <!-- card footer -->
          <div class="card-footer">
            <div class="row m-0">
              
              <div class="col-lg-12">
                <button (click)="deleteParentView()" [routerLink]="urlFriendlyFormat(turma['turma_id'])">Entrar nesta turma</button>
              </div>

            </div>
          </div>


        </div>

  </div>

  
  <router-outlet></router-outlet>
  

</div>

