<div *ngIf=display>

    <!-- -->
    <div class="row mt-4" *ngIf="isThisTeacherCoor == false">
    
      <div class="col-lg-6">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="estudantes">Livro de Ponto</button>
      </div>
    
      <div class="col-lg-6">
          <button class="btn btn-primary" (click)="deleteParentView()" routerLink="pautas">Pautas</button>
      </div>
    
    </div>

    <div class="row mt-4" *ngIf="isThisTeacherCoor == true">
    
      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="estudantes">Livro de Ponto</button>
      </div>
    
      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="pautas">Pautas</button>
      </div>

      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="relatorio">Relatórios</button>
      </div>

      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="deleteParentView()" routerLink="justificativo">Justificativo</button>
      </div>

    </div>

    
    <!-- -->
    <div class="row mt-4">
    
      <div class="col-lg-12">
    
        <div class="card">
    
        </div>
    
      </div>
    
    </div>


</div>

<div>
  <router-outlet></router-outlet>
</div>

  
